@font-face {
  font-family: 'Plaid-XL';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://robingolf.cdn.prismic.io/robingolf/97b8dbc8-6c23-4e87-a242-5f9005692b59_Plaid-XL.woff2) format('woff2');
}

@font-face {
  font-family: 'Moderat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://robingolf.cdn.prismic.io/robingolf/3f17d715-f17d-4d12-a3b9-7d2256d72a56_Moderat-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Moderat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://robingolf.cdn.prismic.io/robingolf/4e6048bf-766c-45bd-955c-eadfa89d2803_Moderat-Medium.woff2) format('woff2');
}
