

$gutter: 3rem !default;

// Default screens for media queries
$screen-small:      600px !default;
$screen-medium:     768px !default;
$screen-large:      1200px !default;
$screen-small-up:   601px !default;
$screen-medium-up:  769px !default;
$screen-large-up:   1201px !default;
